.loading-bay {
    width: 20.25em;
    max-width: 20.25em;
    max-height: 55em;
    overflow: auto;
    border: 2px solid yellow;
    border-top: none;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.bay-container {
    max-height: 55em;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.shelf {
    border-top: 2px dotted gray;
    width: 20em;
    display: flex;
    align-items: flex-end;
}

.item {
    border: 4px solid green;
}

.shelfAndItem {
    display: flex;
    flex-flow: row-reverse;
}