.collapse-content.collapsed {
    display: none;
}
  
.collapse-content.expanded {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.invalid-field {
    color: red;
}

.input-manual {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputField {
    display: contents;
}