.cache-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-holder {
  display: inline-flex;
  font-size: xx-large;
  height: 2.2em;
  max-width: 100%;
  overflow: hidden;
}

.highlighted {
  color: greenyellow !important;
}

.normal {
  color: gray;
}

.centered {
  border: 4px solid #7b84a4;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toBeRemoved {
  color: red;
}

.explanation {
  height: 4em;
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}