.description {
    width: 70%;
    text-align: justify;
    margin-bottom: 0;
}

.load {
  background-color: green;
  height: 2em;
  border: 1px solid gainsboro;
}

.machines-loads {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
}

.machines {
  float: left;
  display: grid;
  margin-bottom: 1em;
}

.fa-xl {
  line-height: inherit;
}

.algorithm-chooser {
  margin-bottom: 2%;
}