h1,
h5 {
  padding-top: 5%;
}

h1 {
  padding-bottom: 1%;
}

h5 {
  text-align: left;
  padding-bottom: 3%;
}

h3 {
  padding-bottom: 2%;
}

.problem-select {
  width: 25%;
}

.problems {
  padding: 2%;
  border: 1px solid rgb(185, 181, 181);
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 3%;
  width: 60%;
}
